*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    /* border: 2px solid; */
    width: 150px;
    height: 150px;
    /* background-color: slategrey; */
    position: absolute;
}
.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fish{
     /* border: 2px solid; */
    width: 150px;
    height: 150px;
    /* background-color: slategrey; */
    position: absolute;
}
.fish img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}